DB_USER=taskforge
DB_PASSWORD=replace-with-local-password
JWT_SECRET=replace-with-random-secret-at-least-32-bytes-long
TASKFORGE_CORS_ALLOWED_ORIGINS=
TASKFORGE_ADMIN_EMAIL=
TASKFORGE_ADMIN_PASSWORD=use-a-random-password-of-at-least-16-characters
TASKFORGE_SCHEDULER_INTERVAL=1000
TASKFORGE_OUTBOX_INTERVAL=250
TASKFORGE_HEARTBEAT_INTERVAL=5000
TASKFORGE_RECOVERY_INTERVAL=5000
TASKFORGE_HANDLER_STOP_GRACE_SECONDS=5
TASKFORGE_RETRY_BASE_DELAY=2
TASKFORGE_RETRY_MAX_DELAY=256
TASKFORGE_KAFKA_MAX_POLL_INTERVAL_MS=86520000
